# Python
venv/
__pycache__/
*.pyc
.env

# Flutter / Dart
mobile/.dart_tool/
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.pub-cache/
mobile/.pub/
mobile/android/local.properties
mobile/ios/.symlinks/
mobile/ios/Pods/
mobile/macos/Flutter/ephemeral/
mobile/windows/flutter/ephemeral/

# OS
.DS_Store
Thumbs.db
